/* Basic Print Stylesheet for FortyTwo */

nav,
#sidebar
 {
 	display:none;
}

@page {
	margin:0.5cm;
}

p a[href^="http://"]:after {
	content: " (" attr(href) ")";
	font-size: 90%;
}

p a {
	word-wrap: break-word;
}